@page
@model IBasket.Pages.Categories.DeleteModel
@{
}

<div class="container mt-3">
    <div class="text-primary" > Delete Category  </div>
    <hr />
    <form method="post" class="form-control p-4">
        <input asp-for="Category.Id" hidden />
        <div class="mb-3">
        <label asp-for="Category.Title" class="form-control mb-2"></label>
        <input asp-for="Category.Title" class="form-control " readonly />
        </div>
        <div class="mb-3">

        <label asp-for="Category.DisplayOrder" class="form-control mb-2"></label>
        <input asp-for="Category.DisplayOrder" class="form-control  " readonly />
        </div>

        <div class="d-grid gap-2 d-flex">
        <input type="submit" class="btn btn-outline-danger w-25" value="Delete" />
            <a asp-page="Index" class="btn btn-outline-dark  w-25 "> Back to List </a>
        </div>
    </form>
</div>

